<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link type="text/css" rel="stylesheet" href="<%= bundlePath %>/bundle.css" />
    <script type="text/javascript"><%- state %></script>
  </head>
  <body>
    <div id="app"><%- html %></div>
    <script src="<%= bundlePath %>/bundle.js"></script>
  </body>
</html>
